{% extends 'base.html.twig' %}

{% block title %}
    Reset Password
{% endblock %}

{% block body %}
    <p>you will get reset email soon, open and copy the new password and login with that password</p>
    <a href="https://mail.google.com/mail/u/0/?nocheckbrowser" target="_blank">Open Gmail</a>
{% endblock %}

