{% extends 'base.html.twig' %}

{% block title %} Car Jack {% endblock %}

{% block body %}

    <div class="row p-5 bg-img">

        <section class="col-6 my-5">
            <h1 class="fw-bold">
                Book a Car Near You and Drive in Minutes!
            </h1>
            <p class="">Book the selected car effortlessly, pay for driving only.Join our service instantly by installing our app.</p>
            <div class="d-flex">
                <button class="btn btn-lg btn-primary mx-1">Visit</button>
                <button class="btn btn-lg btn-primary">See More</button>
            </div>
        </section>

        <div class="col-6">
        
        </div>

    </div>
    <div class="w-75 mx-auto">
        {% include 'car/index.html.twig' %}
    </div>
{% endblock %}
