{% extends 'base.html.twig' %}

{% block title %}
    change password
{% endblock %}

{% block body %}
    <div class="container pb-3 mb-2 mt-5">
        <form action="{{ path('change_password') }}" method="post" class="card mt-4 w-75 mx-auto p-3">
            <h2 class="text-center text-capitalize">you want to change password?</h2>
            <div class="mb-3">
                <input name="oldPassword" type="password" class="form-control" aria-describedby="oldPassword" placeholder="Old Password">
                <div id="oldPassword" class="form-text">Enter your old password here please.</div>
            </div>
            <div class="mb-3">
                <input name="newPassword" type="password" class="form-control" aria-describedby="newPasswordHelp" placeholder="New Password">
                <div id="newPasswordHelp" class="form-text">Enter your new password here please.</div>
            </div>
            <div class="mb-3">
                <input name="confirmPassword" type="password" class="form-control" aria-describedby="confirmPasswordHelp" placeholder="Confirm Password">
                <div id="confirmPasswordHelp" class="form-text">Confirm your new password here please.</div>
            </div>
            <button type="submit" class="btn btn-primary">Change Password</button>
        </form>

    </div>
{% endblock %}



