{% extends 'base.html.twig' %}

{% block title %}
    Open Gmail
{% endblock %}

{% block body %}
    <p>you will get verification email soon, open the link below to confirm the registration for your account</p>
    <a href="https://mail.google.com/mail/u/0/?nocheckbrowser" target="_blank">Open Gmail</a>
{% endblock %}

