<div id="carouselExampleControls" class="carousel slide mb-5" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="row">
                {% for car in cars %}
                    {% if car.isSold == false %}
                        <div class="col-4">
                            <img class="carousel-img" src="images/cars/{{ car.image }}" alt="">
                            <small>Comfort</small>
                            <h3>{{ car.name }}</h3>
                            <ul class="list-unstyled">
                                <li>
                                    <i class="fas fa-check-circle purple"></i>
                                    <span class="mx-1">Really Flexible Payment </span>
                                </li>
                                <li>
                                    <i class="fas fa-check-circle purple"></i>
                                    <span class="mx-1">Hundreds of Cars Near You</span>
                                </li>
                                <li>
                                    <i class="fas fa-check-circle purple"></i>
                                    <span class="mx-1">Plans 24/7 Support</span>
                                </li>
                            </ul>
                            <a href="{{ path('car_detail', {'id': car.id}) }}" class="btn sub-btn text-white">Detail</a>
                            <a href="{{ path('rent', {'id': car.id}) }}" class="btn sub-btn text-white">Rent</a>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="carousel-item">

        </div>
        <div class="carousel-item">

        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>