@import '~bootstrap';
@import '~bootstrap/scss/_variables.scss';

body {
    background-color: lightgray;
}

.small-img {
    width: 150px;
    height: auto;
}

.custom-btn-style {
    background-color:  black;
}

.custom-btn-style:hover {
    background-color: rgba(0, 0, 0, 0.6);
}

.bg-img {
    background-image: url(../images/backhground-image.jpeg);
    background-repeat: no-repeat;
    background-position: center;
}

.bg-transparent-white {
    background-color: rgba(255, 255, 255, 0.5);
}
.bg-car-img {
    background-image: url(../images/rent-a-car-4.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.divider-component {
    margin-bottom: 10px;
    height: 5px;
    width:80px;
    background-color: $orange-500;
}

.small-image {
    width: 50px;
    height: 50px;
    margin: 10px auto;
}

.icon-small {
    width: 20px;
    height: 20px;
}

.icon-lg {
    font-size: 50px;
    color: $orange-500;
}

.orange {
    color: $orange-500
}

.purple {
    color: $purple-500;
}

.sub-btn {
    background-color: $purple-500;
}
.carousel-img {
    width: 90%;
    height: 50%;
}
.carousel-img-testimonials {
    width: 150px;
    border-radius: 40%;
    margin: auto;
}