@import '~bootstrap'; 

body {
    background-color: lightgray;
}

.small-img {
    width: 150px;
    height: auto;
}

.bg-img {
    background-image: url(../images/backhground-image.jpeg);
    background-repeat: no-repeat;
    background-position: center;
}