<nav class="d-flex justify-content-between">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link text-secondary" aria-current="page" href="#">How It Works</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-secondary" href="#">Our Cars</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-secondary" href="#">FAQ</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-secondary" href="#">Contacts</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">LogIn</a>
        </li>
    </ul>
    <small class="nav-item">
        <a class="nav-link text-secondary" href="">© Created by | All rights Reserved</a>
    </small>
</nav>