<nav class="navbar navbar-light bg-light justify-content-between p-4">
  <a href="/">
    <img src="{{ asset('images/website/logo.png') }}" class="img-fluid small-img" />
  </a>

  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">How It Works</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Our Cars</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">FAQ</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Contacts</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">LogIn</a>
    </li>
  </ul>

{# <div class="dropdown">
    <a class="navbar-brand dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
      Profile
                
          
    </a>

    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <li>
        <a class="dropdown-item" href="#">
          Login
        </a>
      </li>
      <li>
        <a class="dropdown-item" href="#">
          Logout
        </a>
      </li>
    </ul>
  </div> #}

</nav>
