<nav class="navbar navbar-light bg-light justify-content-between px-4">
  <a href="/" class="">
    <img  src="{{ asset('images/website/logo.png') }}" class="img-fluid small-img"/>
  </a>
  <div class="dropdown">
    <a class="navbar-brand dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
      Profile
    </a>

    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <li><a class="dropdown-item" href="#">Login</a></li>
      <li><a class="dropdown-item" href="#">Logout</a></li>
    </ul>
</div>

</nav>
