<form action="{{ path('subscribe') }}" method="post" class="col-4">
    <small class="text-secondary">Subscribe</small>
    <input name="email" type="email" class="form-control my-2" placeholder="Email address">
    <button type="submit" class="btn custom-btn-style text-white form-control">Subscribe</button>
</form>