<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %} Welcome to Car Jack {% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            <script src="https://kit.fontawesome.com/b3478a18b6.js" crossorigin="anonymous"></script>
        {% endblock %}
    </head>
    <body>
        {% block navbar %} 
            {% include '_layouts/_navbar.html.twig' %}
        {% endblock %}
        {% block body %}{% endblock %}
    </body>
</html>
